<div class="background-certificate">
  <span class="shareholder-id">
    {{shareholderData.shareholderId}}
  </span>
  <span class="certificate-id">
    {{shareholderData.certificateId}}
  </span>
  <div class="shareholder-name">
    {{shareholderData.title + ' ' + shareholderData.firstName + '  ' + shareholderData.lastName }} 
  </div>
  <div class="shareholder-numshare">
    {{shareholderData.numShare}}
  </div>
  <div class="shareholder-valueshare">
    {{shareholderData.valueShare | number}}
  </div>
  <div class="register-date">
    {{getThaiDate(shareholderData.registerDate)}}
  </div>
</div>